.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    margin: 2rem auto;
}

